header {
    background-color: var(--green-principal);
    color: var(--white-portfolio);
    text-align: center;
    animation: slide-down 1s ease-in-out;
    padding: 20px;
    nav {
        background-color: var(--green-secondary);
        padding: 80px;

      }

      img{
       width: 60px; 
      }

     
  }