 /* Effet de zoom au survol */
header{
  p:hover{
    transform: scale(1.1); /* Augmente légèrement la taille du texte */
  }

  p a:hover{
    background-color: var(--white);
    padding: 5px;
    color: var(--blue);
    animation: couleurs 2s infinite;
    border-radius: 3px;
    animation: borderColor 2s infinite;
    animation: clignoter 3s infinite;
  }
}

 

  .icons:hover{
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
  }

  .xxl-icon:hover{
    transform: scale(10);
    transition: all 0.5s ease-out;
  }