/* Fond d'écran avec dégradé animé */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


  /* Animation de clignotement lent */
  @keyframes clignoter {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  /* Application de l'animation de clignotement sur tous les p */


@keyframes couleurs{
    0%{
        color: var(--light-blue);
    }
    25%{
        color: var(--blue)
    }
    50%{
        color: var(--light-blue);
    }
    75%{
        color: var(--blue);
    }
    100%{
        color: var(--light-blue);
    }
}

@keyframes borderColor{
    0%{
        border: solid var(--light-blue) 2px;
    }
    25%{
        border: solid var(--blue) 2px;
    }
    50%{
        border: solid var(--light-blue) 2px;
    }
    75%{
        border: solid var(--blue) 2px;
    }
    100%{
        border: solid var(--light-blue) 2px;
    }
}





@keyframes wave {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(-20px); /* Mouvement vers le haut */
        opacity: 1;
    }
    100% {
        transform: translateY(0); /* Retour à la position initiale */
        opacity: 0;
    }
}