

.marleft{
    margin-left: 10px;
}

nav{
    padding: 10px;
   
}

a{
    text-decoration: none;
    color: white;
}

.border{
    border-top: 1px solid white;
}

 

#title{
    margin-top: 50px;
    text-align: center;
    
}

#top-icons{
  text-align: center;
  i{
    width: 300px;
    color: var(--white);
    margin-top: 72px;
  }
}

/* Ici on va gérer le footer */
footer{
  div{
    margin-top: 40px;
  }
}


